<h1>STUPID COACHING</h1>
<div class="container-chat">
    <blockquote> <%=@question %> <br>-You</blockquote>
</div>
<div class="container-chat">
    <blockquote> <%=@answer %> <br>-Your coach</blockquote>
</div>
<%= link_to "ask a new question", "/ask" %>