// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
form{
    #input-question{
        padding: 10px;
        border:1px solid blue
    }
    .button{
        padding: 8px;
        background-color: lightseagreen;
    }
}